<div class="container6">
    <div class="photoHead2_5">
        <div class="titlePhoto2_5" id="radio2_5">
          <video id="video2_5" src="../../assets/img/bug.mp4" muted autoplay loop oncanplay="this.muted = 'true'" (mouseover) = "mouseInVideo()">不支持html5</video>
        </div>
        <div>
          <p class="title2_5">APP x 文化</p>
          <article class="article2_5">离开办公室，生活开始</article>
        </div>
      <div class="back2_5">×</div>
    </div>
    <div>
      <p >《爆笑虫子》Larva是一部风靡全世界的搞笑无对白动画短片，其剧集充满创意乐趣，融合音乐、节奏、丰富的肢体动作，倡导积极、乐观向上，忠诚至上、相互陪伴的人生价值观。</p> 
      <p>LARVA的故事主角是一红一黄两条搞怪的虫子Yellow和Red，他们生活在纽约，天天都上演着爆笑的喜剧故事。他们有各式各样的小伙伴：屎壳郎、蜗牛、青蛙、螳螂、蜘蛛、蚂蚁……总在关键时刻出场，制造笑料。从下水道上方，经常不断掉落下来意想不到的“礼物和”神秘的“天外来客”，比如融化了的冰淇淋，各类形状的口香糖、吸管、玉米、香肠、易拉罐等等各式各样的有趣道具和偷偷闯入的蚊子……Yellow和Red花样翻新地用各种创意手段制造喜悦，给粉丝们带来无穷的欢乐。</p>
      <img src="../../assets/img/page2_5_1.jpg" alt="爆笑虫子" id="imgChange2_5">
      <p id="animation2_5">人类生活的世界陷入了无言的沉默，嚼了又扔掉的口香糖，吃完就丢掉的冰淇淋，硬币，戒指等等。很小又可爱的小虫子红色和黄色对这所有的一切都感觉很神奇。有时候他们也为抢从上面掉下来的东西打架而变得苦恼。总是从那些很小的雨滴，寒冷等非常的危机状况中逃脱出来…</p>
      <p>从下水道里逃出来的红色和黄色在这粗犷的世界里彷徨着，他们在那些高楼大厦之间徘徊，被迫在那些破旧的房子边降落。即使面临着磨练和处在逆境中，也为我们奉献着微笑的黄色和红色，在他俩面前今天又会发生哪些异想天开的事情呢？</p>
      <p>这次的故事在街头上演！高楼环绕的小屋被拆毁的瞬间，Red和Yellow被驱赶到了纽约城市的中央。在冰冷高大看不到一切的城市里，有各种各样的事物在等着Red和Yellow。从冰冷可怕的雨滴炸弹，到犀利敏锐的老鼠门牙，还有疯子 一般的双胞胎鸽子。在没有食物，没有睡处的纽约街头，Red和Yellow会展开怎样的故事呢？</p>
      <img src="../../assets/img/page2_5_2.jpg" alt="爆笑虫子">
      <p>黄色的小虫子，非常贪吃，整天乐呵呵的。经常被RED欺负，却一点也不讨厌RED。忠于友谊、憨厚、包容。</p>
      <p>红色的小虫子，古灵精怪，爱耍小聪明，喜欢自以为是。总是欺负YELLOW，但不知怎么回事，最后吃亏的总是RED自己。</p>
    </div>
    <div id="getApp2_5" (click) = "onSelected2_5()">
      <img id="logo2_5" src="../../assets/img/smalllogo5.jpg" alt="爆笑虫子">
      <h2>爆笑虫子</h2>
      <p>搞笑无对白动画短片</p>
      <div (click) = "onSelectedGet2_5()">获取</div>
      <p id="buttonDecribe2_5">App内购买项目</p>
    </div>
    <div id="page2foot2_5">
      <div id="shareButton2_5" (click) = "onSelectedButton2_5()">
          <div id="buttonContent2_5">⏫分享</div>
      </div>
    </div>
    <div id="getAppButtom2_5">
        <img id="logo2_5_2" src="../../assets/img/smalllogo5.jpg" alt="爆笑虫子">
        <div id="appName2_5">
            <p>爆笑虫子</p>
            <p>搞笑无对白动画短片</p>
        </div>
        <div id="getButton2_5">获取</div>
      </div>
  </div>
  

