<div class="container5">
    <div class="photoHead2_4">
        <div id="photoTitle2_4">
            <p class="title2_4">今日主题</p>
            <article class="article2_4">骑士精神</article>
        </div>
        <div id="contentPhoto2_4"></div>  
        <div class="back2_4">×</div>
    </div>
    <div>
      <p >怪物和弦是一款既创新又独一无二的吉他学习APP！透过游戏让你有趣地学习各种不同的和弦，使学习过程不再单调乏味！怪物和弦适合任何年龄人士，是所有吉他初学者的完美学习伙伴！你只需要一支吉他！</p> 
      <p>又害羞、又热爱音乐的怪兽们在黑暗的森林中漫步，一心寻找好音乐。根据音乐的节拍弹奏正确的吉他和弦，就能带领怪兽们离开躲藏的地方。每当你正确弹奏和弦，怪兽们就会离你的营火更近一点！如果你弹错了，怪兽们就会返回躲藏地。</p>
      <img src="../../assets/img/page2_4_1.jpg" alt="怪兽和弦" id="imgChange2_4">
      <p id="animation2_4">即兴演奏「伦敦铁桥垮下来 」，「玛莉有只小绵羊」，「小瓢虫」，和「小茶壶」等多首经典歌谣，并演奏超过20首以上原创现代音乐。</p>
      <p>每当你弹奏完毕，怪物和弦都会为你的表现评分，让你能循序渐进地练习吉他，提高你的吉他技术！此外，怪物和弦亦包含吉他调音迷你游戏，设有计时模式和简单摸式。</p>
      <p>怪物和弦有30个挑战等级，孩子们一定会爱上透过有趣的游戏过程来学习吉他和弦并持之以恒！每个月也会添加新的等级／歌曲，不断加入全新内容，确保每月都有新惊喜！</p>
      <img src="../../assets/img/page2_4_2.jpg" alt="怪兽和弦" >
      <p>- 多首优美乐曲让你选择！</p>
      <p>- 和弦图表和影片教学简单易明！</p>
      <p>- 可爱又讨人喜欢的怪兽们！</p>
      <p>- 30个以上等级，既有趣又富有挑战性的游戏过程！</p>
      <p>- 非常方便的吉他调音迷你游戏，特别适合刚起步的音乐家！</p>
    </div>
    <div id="getApp2_4" (click) = "onSelected2_4()">
      <img id="logo2_4" src="../../assets/img/smalllogo3.jpg" alt="怪兽和弦">
      <h2>怪兽和弦</h2>
      <p>快乐玩音乐</p>
      <div (click) = "onSelectedGet2_4()">获取</div>
      <p id="buttonDecribe2_4">App内购买项目</p>
    </div>
    <div id="page2foot2_4">
      <div id="shareButton2_4" (click) = "onSelectedButton2_4()">
          <div id="buttonContent2_4">⏫分享</div>
      </div>
    </div>
    <div id="getAppButtom2_4">
        <img id="logo2_4_2" src="../../assets/img/smalllogo4.jpg" alt="怪兽和弦">
        <div id="appName2_4">
            <p>怪兽和弦</p>
            <p>快乐玩音乐</p>
        </div>
        <div id="getButton2_4">获取</div>
      </div>
  </div>
  

