<!--The content below is only a placeholder and can be replaced.-->
<div class="appStore" id="appStore">
    <div class="page1" id="page1">
        <app-page1-head></app-page1-head>
        <app-page1-content></app-page1-content>
        <app-page1-foot></app-page1-foot>
    </div>
    <div class="page2" id="page2-1">
        <app-page2first></app-page2first>
    </div>
    <div class="page2" id="page2-2">
        <app-page2second></app-page2second>
    </div>
    <div class="page2" id="page2-3">
        <app-page2third></app-page2third>
    </div>
    <div class="page2" id="page2-4">
        <app-page2fourth></app-page2fourth>
    </div>
    <div class="page2" id="page2-5">
        <app-page2fifth></app-page2fifth>
    </div>
</div>




