.container7{
    background-color: white;
}
article{
    font-size: 2rem;
    margin: 0rem 1.5rem;
    border: 0rem;
    padding: 0rem;
}
p{
    margin: 0rem 1.5rem 1rem 1.5rem;
    border: 0rem;
    padding-top: 1rem;
}
.title2_6{
    font-size: 1.2rem;
    color: gray;
}
.item2_6{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#item2_6_1{
    margin-top: 2rem;
}
.logo2_6{
    height: 4rem;
    width: 4rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 20%;
    margin-left: 1.5rem;
    border:1px solid gainsboro;
}
.appTotalDetail2_6{
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 0.5px solid gainsboro;
}
.detail2_6{
    display: inline-block;
    height: 100%;
    width: 70%;
    white-space:nowrap;
    overflow: hidden;
}
.appName2_6{
    margin: 0.7rem 0rem 0.5rem 1.5rem;
    width: 12rem;
    font-size: 1rem;
    font-weight: bold;
}
.appDetail2_6{
    font-size: 1rem;
    color: gray;
}
#buttonDetail2_6{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#button2_6{
    display: inline-block;
    width: 4rem;
    height: 2rem;
    margin-left: 1rem;
    background-color: rgb(233, 233, 233);
    border-radius: 1rem;
    text-align: center;
    line-height: 2rem;
    color: blue;
}
#buttonDescribe2_6{
    font-size: 0.5rem;
    float: right;
    margin: 0rem 0rem 1rem 0rem;
}
#buttonDetail2_6 > #buttonDescribe2_6{
    color:gray;
    margin-left: 1.27rem;
}
.back2_6{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    font-size: 2rem;
    color: gainsboro;
    background-color: grey;
    position: fixed;
    top: 1rem;
    left: 90%;
    line-height: 2rem;
    text-align: center;
}
#page2foot2_6{
    height: 10rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#shareButton2_6{
    width: 7rem;
    height: 2.5rem;
    background-color:rgb(247, 247, 247);
    border-radius: 0.5rem;
    line-height: 2.5rem;
    text-align: center;
}
#buttonContent2_6{
    font-size: 1.2rem;
}