<div class="container7" id="container7">
  <div class="photoHead2_6">
    <p class="title2_6">今日主题</p>
      <article class="article2_6">镜头里的盎然秋意</article>
      <div class="item2_6" id="item2_6_1">
        <img src="../../assets/img/smalllogo1.jpg" alt="logo" class="logo2_6">
        <div class="appTotalDetail2_6">
          <div class="detail2_6">
            <p class="appName2_6">边境之旅</p>
            <article class="appDetail2_6">徒步生存手游</article>
          </div>
          <div id="button2_6" (click)="onSelected6_1()">￥6.00</div>
        </div>
      </div>
      <div class="item2_6" id="item2_6_2">
        <img src="../../assets/img/smalllogo2.jpg" alt="logo" class="logo2_6">
        <div class="appTotalDetail2_6">
          <div class="detail2_6">
            <p class="appName2_6">英雄联盟</p>
            <article class="appDetail2_6">电子竞技类游戏</article>
          </div>
          <div id="button2_6" (click)="onSelected6_1()">￥18.00</div>
        </div>
      </div>
      <div class="item2_6" id="item2_6_3">
        <img src="../../assets/img/smalllogo3.jpg" alt="logo" class="logo2_6">
        <div class="appTotalDetail2_6">
          <div class="detail2_6">
            <p class="appName2_6">一心院</p>
            <article class="appDetail2_6">一座可以“感知”意念的禅院</article>
          </div>
          <div id="buttonDetail2_6">
            <div id="button2_6" (click)="onSelected6_1()">获取</div>
            <p id="buttonDescribe2_6">App内购买项目</p>
          </div>
        </div>
      </div>
      <div class="item2_6" id="item2_6_4">
        <img src="../../assets/img/smalllogo4.jpg" alt="logo" class="logo2_6">
        <div class="appTotalDetail2_6">
          <div class="detail2_6">
            <p class="appName2_6">怪物和弦：快乐玩音乐</p>
            <article class="appDetail2_6">学习吉他和乌克丽丽</article>
          </div>
          <div id="buttonDetail2_6">
            <div id="button2_6" (click)="onSelected6_1()">获取</div>
            <p id="buttonDescribe2_6">App内购买项目</p>
          </div>
        </div>
      </div>
      <div class="item2_6" id="item2_6_5">
        <img src="../../assets/img/smalllogo5.jpg" alt="logo" class="logo2_6">
        <div class="appTotalDetail2_6">
          <div class="detail2_6">
            <p class="appName2_6">爆笑虫子：充满创意乐趣</p>
            <article class="appDetail2_6">搞笑无对白动画短片</article>
          </div>
          <div id="buttonDetail2_6">
            <div id="button2_6" (click)="onSelected6_1()">获取</div>
            <p id="buttonDescribe2_6">App内购买项目</p>
          </div>
        </div>
      </div> 
    <div class="back2_6">×</div>
  </div>
  <div id="page2foot2_6">
    <div id="shareButton2_6" (click) = "onSelectedButton2_6()">
        <div id="buttonContent2_6">⏫分享</div>
    </div>
  </div>
</div>
