<div class="container2">
  <div class="photoHead">
    <p class="title1">游戏人生</p>
    <article class="article1">向前走，一直到尽头</article>
    <div class="back">×</div>
  </div>
  <div>
    <p >天地之中只有我一人</p> 
    <p>我只顾埋头低走</p>
    <p>一步一步的脚印在干枯的土地上荡起了一片黄色尘土</p>
    <p>四面没有鲜花，只有随风飘荡的野草</p>
    <p>那低低矮矮盘根错节的拉皮草呀</p>
    <p>使我不得不停下，缓缓疼痛</p>
    <p>但是我还是要走</p>
    <p>我不知道要去往哪里</p>
    <p>我不知道要去往哪里</p>
    <p>我只是低头，我只顾赶路</p>
    <img src="../../assets/img/page2_1_1.jpg" alt="一直走"  id="imgChange">
    <p id="animation2_1">包囊中的干粮所剩无几</p>
    <p>包囊中的水壶干涸殆尽</p>
    <p>我能走多远</p>
    <p>我又能活多久？</p>
    <p>我只知道我要向前走</p>
    <p>一眼望不到头的路上只有我一人</p>
    <p>蔚蓝的天空之中偶尔会有飞鸟经过</p>
    <p>哦哦哑哑，声音也不明亮</p>
    <p>一眼望不到头的路上只有我一人</p>
    <p>广阔的平野上偶尔会钻出来虎豹</p>
    <p>吼吼哈哈，我手中的长刺使得它们也不敢向我靠近</p>  
    <p>一眼望不到头的路上只有 我一人</p>
    <p>长长的路上偶尔也会飞驰过一辆汽车</p>  
    <p>轰轰隆隆，我向他们极近挥手，他们头也不回，只留下一片黄沙漫天</p>
    <img src="../../assets/img/page2_1_2.jpg" alt="继续向前走">
    <p>我要走</p>
    <p>我还要走</p>
    <p>我必须坚持的走下去</p>
    <p>尽管我会死去</p>
    <p>但是我希望死在路上</p>
    <p>尽管我会遗忘</p>
    <p>但是我至少还在路上</p>
    <p>尽管我不知道终点在哪里</p>
    <p>但是我知道我每向前一步离终点也就越近</p>
    <p>我是天生的探路者</p>
    <p>我是天生的开拓者</p>
    <p>我的足迹会从大地的这边直到山的那边</p>
    <p>后来的人会沿着我的足迹向前</p>
    <p>我向前，继续向前</p>
  </div>
  <div id="getApp" (click) = "onSelected()">
    <img id="logo" src="../../assets/img/smalllogo1.jpg" alt="边境之旅">
    <h2>边境之旅</h2>
    <p>徒步生存手游</p>
    <div (click) = "onSelectedGet()">￥6.00</div>
    <!-- <p id="buttonDecribe">App内购买项目</p> -->
  </div>
  <div id="page2foot">
    <div id="shareButton" (click) = "onSelectedButton()">
        <div id="buttonContent">⏫分享</div>
    </div>
  </div>
  <div id="getAppButtom">
    <img id="logo2" src="../../assets/img/smalllogo1.jpg" alt="边境之旅">
    <div id="appName">
        <p>边境之旅</p>
        <p>徒步生存手游</p>
    </div>
    <div id="getButton">￥6.00</div>
  </div>
</div>
